 @import url('https://fonts.cdnfonts.com/css/saiyan-sans');

 * {
     margin: 0;
     box-sizing: border-box;
     font-family: 'Saiyan Sans', sans-serif;
 }

 .titulo {
     font-size: 150px;
     color: coral;
     display: flex;
     justify-content: center;
     text-shadow:
         -3px -3px 0 black,
         3px -3px 0 black,
         -3px 3px 0 black,
         3px 3px 0 black;
 }

 .amarelo {
     color: yellow;
 }

 .vermelho {
     color: red;
 }

 .bloco_personagens {
     display: flex;
     width: 100%;
     height: 50%;
     margin-top: 50px;
 }

 .bloco_herois {
    display: flex;
    align-items: center;
     flex-direction: column;
     width: 50%;
     height: 50%;
 }

 .bloco_viloes {
     width: 50%;
     height: 50%;
 }

 .subtitulo {
     font-size: 100px;
     color: rgb(247, 104, 9);
     display: flex;
     justify-content: center;
     text-shadow:
         -3px -3px 0 black,
         3px -3px 0 black,
         -3px 3px 0 black,
         3px 3px 0 black;
 }

 .espacamento_botao{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
 }

 .botao_personagem{
    padding: 0%;
    width: 8vw;
    height: 12vh;
    border-radius: 80px;
    border-style: solid;
    border-width: 4px;
 }

 .img_personagem{
    height: 100%;
    width: 100%;
    border-radius: 80px;
 }

 body{
    background-image: url(../assets/img/Kame_House.webp);
    background-size: 100%;
 }


    
 



